{% extends '_shared/_layout.twig' %}

{% block main %}
	<!-- houses overview -->
	<div
		class="container c-section ">
		<!-- todo: laad de titel en subtext in via de entry -->
		<h2 class="c-section__title">All Houses</h2>
		<p class="c-section__subtitle">Our broad collection of houses!</p>

		<div class="row g-4 justify-content-center c-section__content">
			{% set houses = craft.entries.section('house').all() %}
			{% for house in houses %}
				<!-- immo card -->
				<div
					class="col-12 col-sm-6 col-lg-4 ">
					<!-- todo: link de card met de detail page  -->
					<a href={{ house.uri }} class="c-immo-card">
						<div class="c-immo-card__imgcontainer">
							<img
							src={{house.cover.one().url()}} alt="" class="c-immo-card__img">
							<!-- todo: Zorg dat de kleur veranderd dmv c-immo-card__tag--rent toe te passen wanneer iets for rent staat  -->
							{% if (house.state == "sale") %}
								<div class="c-immo-card__tag c-immo-card__tag--sale">
									<p>For
										{{house.state}}</p>
								</div>
							{% else %}
								<div class="c-immo-card__tag c-immo-card__tag--rent">
									<p>For
										{{house.state}}</p>
								</div>
							{% endif %}

						</div>
						<div class="c-immo-card__infocontainer">
							<div class="c-immo-card__heading">
								<h3 class="c-immo-card__title">{{house.title}}</h3>
								<!-- todo: roep hier het amount op -->
								<p class="c-immo-card__price">{{ house.price|money }}</p>
							</div>
							<div class="c-immo-card__location">
								<img src="{{url('img/icons/location.svg')}}" alt="">
								<p>
									{{house.location}}
								</p>

							</div>

							<!-- todo: loop hier over de waarder van de details van het pand -->
							<div class="c-immo-card__details">
								{% set details = house.details %}
								{% set myTable = details %}
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/bed.svg')}}" alt="">
									<p>
										{{ myTable[0].bedrooms }}
										beds
									</p>
								</div>
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/bath.svg')}}" alt="">
									<p>{{ myTable[0].bathrooms }}
										baths
									</p>
								</div>
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/sqf.svg')}}" alt="">
									<p>{{ myTable[0].size }}
										m²
									</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>

	</div>


{% endblock %}
